<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Patient Information</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="Patient" routerLinkActive="active">Patient list</a>
        <a class="nav-link active" routerLink="AddPatient" routerLinkActive="active" >Add Patient</a>



      </div>
    </div>
  </div>

</nav>
<div class="container">
  <br>




  <router-outlet></router-outlet>


</div>
<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2022 @Tareq</span>
  </div>
</footer>
